body {
    background-image: url('https://img.freepik.com/premium-vector/painted-background-multicoloured-palette_23-2148427592.jpg?w=2000');
    background-size: 120%, 100%;
    background-repeat:repeat-y repeat-x;
    margin-right: 5px;
    color: white;


}

.form {
    box-shadow: 3px 8px 10px rgb(209, 209, 1);

    padding: 2px;
    padding-top: 5px;
    margin-top: 10%;
    margin-left: 5%;
    width: 30%;
    border-radius: 2px;
    background-image: linear-gradient(rgb(17, 14, 27), rgb(13, 3, 49));
    color: white;  
}
.flex{
    display: flex;
}
.image{
    width:100px;
    height: 200px;
    margin-top: 20%;
    margin-left: 15px;
    align-items: flex-end;
}
.discount{
    text-align: right;
    font-size:60px;
    color: yellow;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 12%;
}
h1,
p,
textarea {
    text-align: center;
    padding-top: 1px;
    margin-left: 10px;

}

#name {
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 50%;
    border-radius: 2px;


}

#ln {
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 50%;
    border-radius: 2px;
}

#num {
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 50%;
    border-radius: 2px;
}

#email {
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 50%;
    border-radius: 2px;
}

span {
    padding: 30%;
}

.button {
    cursor: pointer;
    align-items: center;


    padding: 15px;
}

@media screen and (max-width: 375px) {
    .main-section {
        display: block;
        padding: 20px !important;
    }
}

@media (min-width: 376px) and (max-width: 414) {
    .main-section {
        display: block;
        padding: 20px !important;
    }

}

@media (min-width: 415px) and (max-width: 820px) {
    .main-section {
        padding: 30px;
    }

}

.nav {
    background-color: rgb(6, 30, 35);
    z-index: 9;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.nav_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    width: 80%;
    float: left;

}

.nav_side {
    text-align: right;
    width: 40%;

}

.nav_side a {
    text-decoration: none;
    margin-right: 20px;
    padding-top: 80px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav_side a:hover {
    color: orange;
    transition: all 1s ease;
}

h2 {
    text-align: center;
    font-size: xx-large;

}

.product {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.biba {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.libas {
    text-align: center;
}

.W {
    text-align: center;
}
.offer{
    text-align: center;
}
.testi{
margin-left:40%;
width:100%;
padding-top: 80px;
height: 300px;
}
h3{
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
text-align: center;
    padding-top: 5px;
    color: yellow;
  
}